<div id="container">
  <h1>CARBON.TO</h1>
  
  <div id="left" class="converter">
    
    <ul class="add-subtract">
      <li class="add">+</li>
      <li class="subtract">-</li>
    </ul>
    
    <div id="<%= @co2.slug %>" class="inner-converter">
      <div class="number"><%= @co2.amount %></div>  
      <div class="unit" style="color: #1D5FB6;text-shadow: 0 0 3px #1D5FB6;">
        <%= @co2.unit %> <%= @co2.name %>
      </div>
    </div>
    
    <div class="conversions">
      <ul>
        <% @all.each_with_index do |c, indx| %>
          <li style="<%= c.style(indx) %>"><%= c.name %></li>
        <% end %>
      </ul>
    </div>
    <div class="toggle-conversions"></div>
  </div>
  
  
  <div id="equal">=</div>
  
  <div id="right" class="converter">

    <div id="<%= @random.slug %>" class="inner-converter">
      <div class="number"><%= @random.amount %></div>  
      <div class="unit" style="color: #B52A1D;text-shadow: 0 0 3px #B52A1D;">
        <%= @random.unit %> <%= @random.name %>   
      </div>
    </div>
    <div class="conversions">
      <ul>
       <% @all.each_with_index do |c, indx| %>
         <li style="<%= c.style(indx) %>"><%= c.name %></li>
       <% end %>
      </ul>
    </div>
    <div class="toggle-conversions"></div>
  </div>
  
</div>